.section1 {background-color: rgb(55, 238, 214);
}
.circle1 {width: 100px;
          height: 100px;
          border-radius: 100%;
          background-color: limegreen;
          padding: 2%;
          margin-top: 30px;
          margin-left: auto;
          margin-right: auto;
          font-size: 24px;
          font-style: italic;
}
.circle2 {width: 100px;
          height: 100px;
          border-radius: 100%;
          background-color: limegreen;
          padding: 2%;
          font-size: 24px;
          font-style: italic;
          margin: 50px 70px;
          }
.mainsquare {width: 170px;
             height: 120px;
             background-color: limegreen;
             position: relative;
             top: -100px;
             left: 680px;
             text-align: center;
             font-size: 24px;
             font-weight: bold;
}
.circle3 {width: 100px;
          height: 100px;
          border-radius: 100%;
          background-color: limegreen;
          padding: 2%;
          font-size: 24px;
          font-style: italic;
          float: right;
          margin-top: -330px;
          margin-right: 70px;
}
.circle4 {width: 100px;
          height: 100px;
          border-radius: 100%;
          background-color: limegreen;
          padding: 2%;
          font-size: 24px;
          font-style: italic;
          margin-left: 70px;
}
.circle5 {width: 100px;
          height: 100px;
          border-radius: 100%;
          background-color: limegreen;
          padding: 2%;
          font-size: 24px;
          font-style: italic;
          float: right;
          margin-right: 70px;
          margin-top: -160px;
}